page-login {
    
    .bg-image{
        background-image: url('../assets/imgs/back.jpg') !important;
        background-size:cover;
    }

    .ContentLogin{ 
        margin-top: 40px;
        font-size: 18px;
        font-weight: normal;
        font-family: Arial, Helvetica, sans-serif;
    }

    .textTop{
        text-align: center;
        color:#D0CFCF;
        display: flex;
        justify-content: center;
    }

    .textFooter{
        text-align: center;
        color:#D0CFCF;
        display: flex;
        justify-content: center;
        margin-top: 15px;
        font-size: 12px;
    }

    .FormLogin{
        width: 95%;
    }

    .RowLogin {
        background-color: white;
    }

    .btnLogin{
        background-color: #73BE40;
    }

    .btnFacebook{
        background-color: #0A89FF;
        
    }

    .FormSpace {
        margin-top: 40px;

    }

    .colWithOutPadding{
        padding: 0px;
        margin-top: 15px;
    }

    .SpaceFooter{
        margin-top: 50px;
    }

}
