page-home {

    .HeaderHome{
        background-image: url('../assets/imgs/header-library-open-cards.png') !important;
        background-repeat: no-repeat;
        background-size: 100vw 185px;
        width: 100vw;
        margin-left: -15px;
        margin-top: -15px;
        height: 185px;
        background-color:#464646;
    }


    .HeaderHome span{
        font-size: 18px;
        width: 65vw;
        display:block;
        padding-top: 30px;
        padding-left: 30px;
        color: white;
    }

    .filaHome{
        margin-top: 30px;
        background-image: url('../assets/imgs/library-background-open-cards.jpg') !important;
        background-size: 100% auto;
        padding-left: 15px;
        padding-right: 19px;
    }

    .botonMenu{
        color:#8EBF05;
        font-size: 40px;
        margin-top: 20px;
        margin-left: 20px;
    }

    /* Create three equal columns that floats next to each other */
    .column {
        float: left;
        width: 33.33%;
        border-bottom: solid 15px #DAD8D6;

        padding-left: -1px;
        margin-top: 100px; 
        position: relative;
        height: 84px;
    }


    .column img{
        position:absolute;
        bottom:-7px;
        width: 80%;
        margin-left: 9px;
    }

    /* Clear floats after the columns */
    .filaHome:after {
        content: "";
        display: table;
        clear: both;
    }

   

}
