.HeaderMain {
    text-align: center;
    background-color: #282828 !important;
    padding-top: 10px;
}

.HeaderMain img{
    max-width: 38px;
    padding-left: 5px;
}


.grid{
    padding: 0px !important;
}

.TittleDetail h1
{
    font-size: 34px;
    padding-left: 18px;
}

.TittleDetail h2
{
    font-size: 15px;
    padding-left: 18px;
}

.imgMain{
    width: 101%;
    max-width:101%;
}

.MenuRight{
    padding-right: 0px !important;
}


.ContentDescription{
    width: 100% !important;
}

.ContentDescription p{
    width: 90% !important;
    margin: 0 auto;
}

.ContentDescription ol{
    margin: 0 auto;
    -webkit-padding-start: 10px !important;
    width: 90% !important;
}

.ContentDescription ol > li{
    margin-top: 10px;
}