page-contentcard {
    
    .toolbar-background {
        background-color: #3D3D3D !important;
      }

      .toolbar-title{
        color:white !important;
      }

      .bar-button{
          color:#82C61E;
      }

      .scroll-content{
          margin-top: 0px !important;
      }

      .grid{
          padding: 0px !important;
      }

      .tabSummary{
          background-color: #84C61C !important;
          border-color:  #84C61C !important;
          color:white !important;
      }

      .tabContent{
          background-color: #4C7F00 !important;
          border-color: #4C7F00 !important;
          color: white !important;
      }

      .ion-ios-arrow-dropright{
        color:#4C7F00 !important;
        font-size: 30px;
      }

      .tittleMethod{
          text-align: left !important;
          font-size: 14px !important;
          margin-top: 0px;
      }

      .divContent{
          width: 90%;
          margin: 0 auto;
      }

      .imgMain{
        width: 101%;
        max-width:101%;
        margin-top: 20%;
    }

    .ColImagenPrincipal{
        padding: 0px !important;
    }

    .ListContent{
        margin: 0 auto;
        width: 96% !important;
        font-size: 12px;
    }

    .RowContenido{
        border-bottom-color:#F6F6F6;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        margin-top: 10px;
    }
    
    .IconContenido{
        color:#4C7F00;
    }
}

